TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DISCORD_WEBHOOK_URL=
MERCADOLIBRE_ACCESS_TOKEN=
MERCADOLIBRE_REFRESH_TOKEN=
MERCADOLIBRE_CLIENT_ID=
MERCADOLIBRE_CLIENT_SECRET=
MERCADOLIBRE_REDIRECT_URI=https://oauth.pstmn.io/v1/callback
SHOW_SOURCE_ERRORS=1
